<nav class="o-klaster o-klaster--between | navigacija">
  <div class="navigacija__logo-spremnik">
    <a routerLink="/">
      <app-kroz-hrvatsku-logo-ikona sirinaLogo="150" [jeInverz]="true" />
    </a>
  </div>

  <div class="navigacija__linkovi-spremnik">
    <ul class="o-klaster o-lista-pocetno | navigacija__linkovi-lista">
      <li class="navigacija__stavka">
        <a
          routerLink="/lokacije"
          routerLinkActive="active"
          class="navigacija__link"
          >Lokacije</a
        >
      </li>
      <li class="navigacija__stavka">
        <a
          routerLink="/trgovina"
          routerLinkActive="active"
          class="navigacija__link"
          >Trgovina</a
        >
      </li>

      @if (profilStanje.profil(); as profil) {
        @if (profil.korisnik.ulogaId === 2) {
          <li class="navigacija__stavka">
            <a
              routerLink="/uredivanje/lokacije"
              routerLinkActive="active"
              class="navigacija__link"
              >Uređivanje lokacija</a
            >
          </li>
        }
      }
    </ul>
  </div>

  <div class="navigacija__autentikacija-spremnik">
    @if (authStanje.prijavljen() && profilStanje.profil(); as profil) {
      <div class="o-klaster | navigacija__korisnik">
        <div class="o-klaster | navigacija__korisnik-virtulani-novac">
          <app-novac-ikona boja="#fff" velicina="20" />
          <span> {{ profil.virtualniNovac }}</span>
        </div>

        <app-xp-napredak [razina]="profil.razina" [xp]="profil.xpBodovi" />

        <button
          type="button"
          class="navigacija__korisnik_gumb"
          (click)="promijeniStanjeIzbornika()"
        >
          @if (profil.profilnaSlikaUrl) {
            <img
              [src]="apiUrl + profil.profilnaSlikaUrl"
              alt="profil.korisnik.korisnickoIme"
              class="navigacija__korisnik-slika"
            />
          } @else {
            <span class="navigacija__korisnik-slika-prvo-slovo">
              {{ profil.korisnik.korisnickoIme.charAt(0).toUpperCase() }}
            </span>
          }
        </button>

        @if (izbornikOtvoren()) {
          <div class="navigacija__korisnik-izbornik" role="menu">
            <p class="navigacija__korisnik-ime">
              {{ profil.korisnik.korisnickoIme }}
            </p>
            <a
              routerLink="/profil"
              role="menuitem"
              class="navigacija__korisnik-izbornik-link"
              (click)="zatvoriIzbornik()"
            >
              Profil</a
            >
            <a
              type="button"
              role="menuitme"
              class="navigacija__korisnik-izbornik-link"
              (click)="odjava()"
            >
              Odjava
            </a>
          </div>
        }
      </div>
    } @else {
      <a
        routerLink="/autentikacija"
        routerLinkActive="active"
        class="c-button c-button--primarna-inverz"
        >Prijava</a
      >
    }
  </div>
  <button
    type="button"
    class="navigacija__hamburger"
    (click)="otovriMobilniIzbornik()"
  >
    <app-hamburger-ikona boja="#e7f9f3" velicina="48" />
  </button>
</nav>

<app-mobilni-izbornik
  [otvoren]="mobilniIzbornikOtvoren()"
  [prijavljen]="authStanje.prijavljen()"
  [profil]="profilStanje.profil()"
  (zatvori)="zatovriMobilniIzbornik()"
  (odjava)="odjava()"
/>
