<nav class="navigacija">
  <div class="navigacija__logo-spremnik">
    <a routerLink="/">
      <app-kroz-hrvatsku-logo-ikona sirinaLogo="150" [jeInverz]="true" />
    </a>
  </div>

  <div class="navigacija__linkovi-spremnik">
    <ul class="navigacija__linkovi-lista">
      <li class="navigacija__stavka">
        <a
          routerLink="/lokacije"
          routerLinkActive="active"
          class="navigacija__link"
          >Lokacije</a
        >
      </li>
      <li class="navigacija__stavka">
        <a
          routerLink="/profil"
          routerLinkActive="active"
          class="navigacija__link"
          >Profil</a
        >
      </li>
      <li class="navigacija__stavka">
        <a routerLink="/" routerLinkActive="active" class="navigacija__link"
          >Dostignuća</a
        >
      </li>
    </ul>
  </div>

  <div class="navigacija__autentikacija-spremnik">
    @if (authStanje.prijavljen()) {
      <button type="button" (click)="odjava()">Odjava</button>
    } @else {
      <a routerLink="/autentikacija" routerLinkActive="active">Prijava</a>
    }
  </div>
</nav>
