<header>
  <a routerLink="/">KrozHrvatsku</a>

  <nav>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Počenta</a
    >
    <a routerLink="/lokacije" routerLinkActive="active">Lokacije</a>
    <a routerLink="/profil" routerLinkActive="active">Profil</a>
    @if (authStanje.prijavljen()) {
      <button type="button" (click)="odjava()">Odjava</button>
    } @else {
      <a routerLink="/autentikacija" routerLinkActive="active">Prijava</a>
    }
  </nav>
</header>
