<section class="o-stog | uredivanje-lokacija">
  <header class="o-klaster o-klaster--between | uredivanje-lokacija__zaglavlje">
    <h1>Uređivanje lokacija</h1>

    <div class="o-klaster uredivanje-lokacija__zaglavlje-akcije">
      <a
        routerLink="/uredivanje/lokacije/dodaj"
        class="c-button c-button--primarna | uredivanje-lokacija__dodaj-lokaciju-gumb"
        >Dodaj lokaciju</a
      >
    </div>
  </header>

  @if (lokacijaStanje.ucitavanje()) {
    <p>Učitavanje lokacija...</p>
  } @else if (lokacijaStanje.greska()) {
    <p>{{ lokacijaStanje.greska() }}</p>
  } @else {
    <div class="uredivanje-lokacija__tablica-spremnik">
      <table class="uredivanje-lokacija__tablica">
        <thead>
          <tr>
            <th>Slika</th>
            <th>ID</th>
            <th>Naziv</th>
            <th>XP</th>
            <th>Novac</th>
            <th>Akcije</th>
          </tr>
        </thead>

        <tbody>
          @for (
            lokacija of lokacijaStanje.lokacije();
            track lokacija.lokacijaId
          ) {
            <tr>
              <td>
                @if (glavnaSlika(lokacija); as slika) {
                  <img
                    [src]="apiUrl + slika.putanjaSlike"
                    [alt]="slika.opisSlike || lokacija.naziv"
                    class="uredivanje-lokacija__slika"
                  />
                }
              </td>

              <td>{{ lokacija.lokacijaId }}</td>
              <td>{{ lokacija.naziv }}</td>
              <td>{{ lokacija.nagradaXp }}</td>
              <td>{{ lokacija.nagradaValuta }}</td>

              <td>
                <div class="o-klaster | uredivanje-lokacija__akcije">
                  <a
                    [routerLink]="['/uredivanje/lokacije', lokacija.lokacijaId]"
                    class="c-button c-button--primarna"
                    >Uredi
                  </a>

                  <button
                    type="button"
                    class="c-button c-button--primarna-inverz"
                    (click)="lokacijaStanje.obrisiLokaciju(lokacija)"
                  >
                    Obriši
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</section>
