<form class="c-forma" #forma="ngForm" (ngSubmit)="posalji(forma)">
  <div class="c-forma__group">
    <label for="email" class="c-from__label">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="c-forma__control"
      required
      email
      pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
      [(ngModel)]="model.email"
      #email="ngModel"
    />

    @if (email.invalid && forma.submitted) {
      <p class="c-forma__pogreska">Unesite ispravam format email-a</p>
    }
  </div>

  <div class="c-forma__group">
    <label for="lozinka" class="c-from__label">Lozinka</label>
    <input
      type="password"
      id="lozinka"
      name="lozinka"
      class="c-forma__control"
      required
      minlength="6"
      [(ngModel)]="model.lozinka"
      #lozinka="ngModel"
    />

    @if (lozinka.invalid && forma.submitted) {
      <p class="c-forma__pogreska">Lozinka mora imati barem 6 znakova</p>
    }
  </div>

  <button class="c-button c-button--primarna" type="submit">
    Registriraj se
  </button>
  <a routerLink="/autentikacija/prijava">Već imam račun</a>
</form>
