<section class="zapocni-putovanje">
  <img
    src="/slike/ostalo/pocetna-stranica/zapocni_putovanje.jpg"
    alt="Slika vodopada"
    class="zapocni-putovanje__slika"
  />

  <div class="zapocni-putovanje__overlay"></div>

  <div class="zapocni-putovanje__sadrzaj">
    <h3>
      Započni istraživanje <br />
      Hrvatske već sada!
    </h3>

    <a routerLink="/lokacije">
      <button class="c-button c-button--primarna | zapocni-putovanje__gumb">
        Započni istražinje
      </button>
    </a>
  </div>
</section>
