.o-sekcija-block {
  padding-block: 4rem;
}

.o-sekcija-block--sm {
  padding-block: 2rem;
}

.o-sekcija-block--lg {
  padding-block: 6rem;
}

.o-sekcija-inline {
  padding-inline: 4rem;
}

.o-sekcija-inline--sm {
  padding-inline: 2rem;
}

.o-sekcija-inline--lg {
  padding-inline: 6rem;
}

.u-nowrap {
  white-space: nowrap;

  @media (min-width: 900px) {
    white-space: wrap;
  }
}
