<section class="hero-sekcija">
  <img
    src="/slike/ostalo/pocetna-stranica/hero-slika.png"
    alt="Hero slika"
    class="hero-sekcija__slika"
  />

  <img
    src="/slike/ostalo/pocetna-stranica/dekoracije/magla-lijevo.png"
    alt="Slika magle"
    class="hero-sekcija__magla hero-sekcija__magla--lijevo"
  />

  <img
    src="/slike/ostalo/pocetna-stranica/dekoracije/magla-desno.png"
    alt="Slika magle"
    class="hero-sekcija__magla hero-sekcija__magla--desno"
  />

  <img
    src="/slike/ostalo/pocetna-stranica/dekoracije/magla-dolje.png"
    alt="Slika magle"
    class="hero-sekcija__magla hero-sekcija__magla--dolje"
  />

  <div class="hero-sekcija__sadrzaj">
    <h1>
      Želiš upoznati Hrvatsku i podijeliti svoja iskustva? Ovo je prava
      aplikacija za tebe.
    </h1>
    <span
      >Otkrij skrivene dragulje, osvajaj nagrade i stvori nezaboravne
      uspomene.</span
    >

    <div class="hero-sekcija__akcije">
      <a routerLink="/lokacije">
        <button class="c-button c-button--primarna">Istaži lokacije</button>
      </a>
      <a routerLink="/autentikacija/prijava">
        <button
          class="c-button c-button--primarna-inverz | hero-sekcija__akcije-prijava-btn"
        >
          Prijavi se
        </button>
      </a>
    </div>
  </div>
</section>

<section class="sekcija-lokacije">
  <div class="sekcija-lokacije__zaglavlje">
    <div class="sekcija-lokacije__sadrzaj">
      <h2>Otkrij najbolje lokacije u Hrvatskoj</h2>
      @if (odabranaZupanija(); as zupanija) {
        <div class="sekcija-lokacije__rezultati">
          <h4 class="sekcija-lokacije__odabrana_zupanija">
            Top lokacije u županiji: {{ zupanija }}
          </h4>
          @if (lokacijeZupanije().length === 0) {
            <span class="sekcija-lokacije__nema-lokacija"
              >Nažalost za ovu županiju nemam istaknutih lokacija</span
            >
          } @else {
            @for (lokacija of lokacijeZupanije(); track lokacija.lokacijaId) {
              <app-kartica-lokacije [lokacija]="lokacija" />

              <a
                [routerLink]="['/lokacije']"
                [queryParams]="{ zupanija: lokacija.zupanija }"
              >
                <button class="c-button c-button--primarna o-klaster">
                  Pogledaj sve lokacije
                  <app-strelica-ikona boja="#fff" [rotacija]="180" />
                </button>
              </a>
            }
          }
        </div>
      } @else {
        <span
          >Kliknite na željenu županiju i vidite najpopularnije lokacije</span
        >
      }
    </div>

    <app-karta-hrvatske (zupanijaOdabrana)="odaberiZupaniju($event)" />
  </div>
</section>

<section class="posjet-nagrade">
  <div
    class="o-klaster o-klaster--between | posjet-nagrade__sekcija posjet-nagrade-sekcija__zabiljezi-dolazak"
  >
    <div class="o-stog | posjet-nagrade__sadrzaj">
      <span class="posjet-nagade__broj-sekcije"> 01 </span>
      <h2>Posjeti i zabilježi</h2>
      <p>
        Posjeti lokaciju i zabilježi svoj dolazak. Naša interaktivna karta
        omogućuej ti jednostavan pronalazak novih lokacija
      </p>

      <a routerLink="/lokacije">
        <button class="c-button c-button--primarna">Pogledaj lokacije</button>
      </a>
    </div>

    <div class="posjet-nagrade__slika-spremnik">
      <img
        src="/slike/ostalo/pocetna-stranica/zabiljezi-dolazak-selfe.png"
        alt=""
      />
    </div>

    <img
      src="/slike/ostalo/pocetna-stranica/strelica-sljedeca-sekcija.png"
      alt=""
      class="posjet-nagrade__strelica-sljedeca-sekcija"
    />
  </div>
  <div
    class="o-klaster o-klaster--between | posjet-nagrade__sekcija posjet-nagrade-sekcija__podijeli-iskustvo"
  >
    <div class="posjet-nagrade__slika-spremnik">
      <img src="/slike/ostalo/pocetna-stranica/podijeli-iskustvo.png" alt="" />
    </div>

    <div class="o-stog | posjet-nagrade__sadrzaj">
      <span class="posjet-nagade__broj-sekcije"> 02 </span>
      <h2>Podijeli iskustvo</h2>
      <p>
        Podijeli iskustvo s drugim putnicima. Napiši recenziju, ocijeni lokaciju
        i inspiriraj druge za nijhovu sljedeću avanturu
      </p>
    </div>

    <img
      src="/slike/ostalo/pocetna-stranica/strelica-sljedeca-sekcija.png"
      alt=""
      class="posjet-nagrade__strelica-sljedeca-sekcija posjet-nagrade__strelica-sljedeca-sekcija--inverz"
    />
  </div>
  <div
    class="o-klaster o-klaster--between | posjet-nagrade__sekcija posjet-nagrade-sekcija__osvoji-nagrade"
  >
    <div class="o-stog | posjet-nagrade__sadrzaj">
      <span class="posjet-nagade__broj-sekcije"> 03 </span>
      <h2>Osvajaj nagrade</h2>
      <p>
        Istražuj, rješavaj izazove i osvajaj nagrade. Sakupljaj jedinstvene
        bedževe za svaku regiju koju posjetiš i gradi svoj istraživački status.
      </p>
    </div>

    <div class="posjet-nagrade__slika-spremnik">
      <img src="/slike/ostalo/pocetna-stranica/osvoji-nagrade.png" alt="" />
    </div>
  </div>
</section>
