<div class="detalji-lokacije__spremnik">
  @if (lokacija(); as lokacija) {
    <div class="detalji-lokacije__zaglavlje-spremik">
      <app-lokacija-hero
        [lokacija]="lokacija"
        (slikaKliknuta)="otvoriGaleriju($event)"
      />

      <section class="lokacija-informacije">
        <app-lokacija-informacije
          [lokacija]="lokacija"
          [rijeseno]="!!dolasciStanje.mojDolazak()"
        />
      </section>

      <section class="lokacija-sadrzaj">
        <div class="lokacija-sadrzaj__spremnik">
          <div class="lokacija-sadrzaj__glavni-stupac">
            <app-lokacija-opis [lokacija]="lokacija" />

            <app-karta-lokacije [lokacija]="lokacija" />

            <app-lokacija-galerija
              [lokacija]="lokacija"
              (slikaKliknuta)="otvoriGaleriju($event)"
            />

            <app-komentari-sekcija [lokacijaId]="lokacija.lokacijaId" />
          </div>

          <aside class="lokacija-sadrzaj__bocni-stupac">
            <app-kartica-izazova-lokacije
              class="lokacija-sadrzaj__kartica-izazov"
              [lokacija]="lokacija"
              [rijesena]="!!dolasciStanje.mojDolazak()"
              [spremanje]="dolasciStanje.spremanjeDolaska()"
              (zabiljeziDolazak)="dolasciStanje.otvoriModelDolaska()"
              (pogledajUspomene)="dolasciStanje.otvoriModelUspomena()"
            />
          </aside>
        </div>
      </section>
    </div>

    @if (galerijaOtvorena) {
      <app-lokacija-galerija-modal
        [slike]="lokacija.slikeLokacije"
        [pocetniIndex]="odabranaSlikaIndex"
        [apiUrl]="apiUrl"
        (zatvori)="zatvoriGaleriju()"
      />
    }

    @if (dolasciStanje.modalDolaskaOtvoren()) {
      <app-zabiljeni-dolazak-modal
        [spremanje]="dolasciStanje.spremanjeDolaska()"
        (zatvori)="dolasciStanje.zatvoriModalDolaska()"
        (spremi)="
          dolasciStanje.zabiljeziDolazak(
            lokacija.lokacijaId,
            $event.biljeska,
            $event.slike
          )
        "
      />
    }

    @if (
      dolasciStanje.modalUspomenaOtvoren() && dolasciStanje.mojDolazak();
      as dolazak
    ) {
      <app-uspomena-dolazak-modal
        [dolazak]="dolazak"
        (zatvori)="dolasciStanje.zatvoriModalUspomena()"
      />
    }
  } @else {
    <p>lokacija nije pronađena</p>
  }
</div>
