<div class="detalji-lokacije__spremnik">
  @if (lokacija(); as lokacija) {
    <div class="detalji-lokacije__zaglavlje-spremik">
      <app-lokacija-hero [lokacija]="lokacija" />

      <section class="lokacija-informacije">
        <div class="lokacija-informacije__osnovne-informacije-spremnik">
          <app-kartica-informacije-detalja-lokacije
            ikona="/slike/ikone/lokacija-ikona.png"
            opis="Adresa"
            [vrijednost]="lokacija.adresa"
          />
          <app-kartica-informacije-detalja-lokacije
            ikona="/slike/ikone/novac-ikona.png"
            opis="Cijena ulaznice"
            [vrijednost]="formatirajCijenuUlaznice(lokacija.ulaznicaCijena)"
          />
          <app-kartica-informacije-detalja-lokacije
            ikona="/slike/ikone/kategorija-ikona.png"
            opis="Kategorija"
            [vrijednost]="lokacija.kategorija.naziv"
          />
          <app-kartica-informacije-detalja-lokacije
            ikona="/slike/ikone/status-ikona.png"
            opis="Stauts"
            vrijednost="Nije riješen"
          />
        </div>
      </section>

      <section class="lokacija-sadrzaj">
        <div class="lokacija-sadrzaj__spremnik">
          <div class="lokacija-sadrzaj__glavni-stupac">
            <app-lokacija-opis [lokacija]="lokacija" />

            <app-karta-lokacije [lokacija]="lokacija" />
          </div>

          <aside class="lokacija-sadrzaj__bocni-stupac">
            <app-kartica-izazova-lokacije
              class="lokacija-sadrzaj__kartica-izazov"
              [lokacija]="lokacija"
              (zabiljeziDolazak)="naZabiljeziDolazak()"
            />
          </aside>
        </div>
      </section>
    </div>
  } @else {
    <p>lokacija nije pronađena</p>
  }
</div>
