@use "../../../../../stilovi/postavke" as postavke;
@use "../../../../../stilovi/alati" as alati;

.autentikacija {
  --podijela-nacin: 60% 40%;
  height: 100svh;

  @include alati.ekranManjiOd(postavke.$breakpoint-lg) {
    --podijela-nacin: 50% 50%;
  }
  @include alati.ekranManjiOd(postavke.$breakpoint-md) {
    --podijela-nacin: 1fr;
  }
}

.autentikacija__spremnik {
  position: relative;
  width: 100%;
  height: 100%;
  padding-inline: 3rem;

  @include alati.ekranManjiOd(postavke.$breakpoint-md) {
    grid-column: 1;
  }
}

.autentikacija__strelica-povratak {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  z-index: 10;
}

.autentikacija__panel {
  width: min(100%, 24rem);
}

.autentikacija__logo-spremnik {
  margin-block-end: 1.5rem;
}
