<section class="o-podijeli | autentikacija">
  @if (lokacije$ | async; as lokacije) {
    <app-autentikacija-carousel [lokacije]="lokacije" [apiUrl]="apiUrl" />
  }

  <div class="o-centar | autentikacija__spremnik">
    <button class="autentikacija__strelica-povratak" (click)="idiNatrag()">
      <app-strelica-ikona [velicina]="32" />
    </button>
    <div class="autentikacija__panel">
      <div class="o-centar | autentikacija__logo-spremnik">
        <a routerLink="/">
          <app-kroz-hrvatsku-logo-ikona [sirinaLogo]="300" />
        </a>
      </div>
      <router-outlet />
    </div>
  </div>
</section>
