$tranzicija-brzo: 150ms;
$tranzicija-osnovno: 250ms;
$tranzicija-sporo: 350ms;

$bezier-ease-out: cubic-bezier(0.33, 1, 0.68, 1);
$bezier-ease-in: cubic-bezier(0.32, 0, 0.67, 0);
$bezier-ease-in-out: cubic-bezier(0.85, 0, 0.15, 1);
$bezier-elastic: cubic-bezier(0.68, -0.6, 0.32, 1.6);
