.prijava-forma {
  &__spremnik {
    p {
      font-size: var(--fs-sm);
    }
  }

  &__spremnik-tekst {
    margin-block: 2rem;
    display: grid;
    gap: 0.25rem;

    h4 {
      font-size: var(--fs-xl);
    }
  }
}
