<article class="o-stog | lokacija-sadrzaj__kartica">
  <header class="o-stog | lokacija-sadrzaj__kartica-izazov-zaglavlje">
    <div class="lokacija-sadrzaj__kartica-izazov-zaglavlje-spremnik">
      <app-medalja-ikona boja="#edc060" velicina="20" />
      <span>{{ rijesena() ? "IZAZOV ZAVRŠEN" : "AKTIVNI IZAZOV" }}</span>
    </div>
    <p>{{ rijesena() ? "Pogledajte uspomenu" : "Zabilježi dolazak" }}</p>
  </header>
  <div class="lokacija-sadrzaj__kartica-izazov-informacije-spremnik">
    <span class="lokacija-sadrzaj__kartica-izazov-informacije-opis">
      Zabilježi dolazak na lokaciju "{{ lokacija().naziv }}" tako da posijetiš
      ovu lokaciju kategorije {{ lokacija().kategorija.opis }} te zatim potvrdi
      svoj dolazak. Također možeš ostaviti slike lokacije kako bi tvoje uspomene
      još dugo trajale
    </span>

    <div class="o-stog | lokacija-nagrade">
      <div class="o-klaster | lokacija-nagrade__stavke">
        <div class="lokacija-nagrade__ikona">
          <app-zvijezda-krug-ikona velicina="24" />
        </div>
        <span class="lokacija-nagrade__naziv">Iskustvo</span>
        <span class="lokacija-nagrade__vrijednost">
          +{{ lokacija().nagradaXp }}XP
        </span>
      </div>

      <div class="o-klaster | lokacija-nagrade__stavke">
        <div class="lokacija-nagrade__ikona">
          <app-kovanice-ikona velicina="24" />
        </div>
        <span class="lokacija-nagrade__naziv">Nagrade</span>
        <span class="lokacija-nagrade__vrijednost">
          +{{ lokacija().nagradaValuta }} novčića
        </span>
      </div>
    </div>

    <button
      class="c-button | lokacije-nagrade__gumb"
      [class.c-button--primarna-inverz]="!rijesena()"
      [class.c-button--primarna]="rijesena()"
      [disabled]="spremanje()"
      (click)="rijesena() ? pogledajUspomene.emit() : zabiljeziDolazak.emit()"
    >
      @if (spremanje()) {
        Spremanje
      } @else if (rijesena()) {
        Pogledaj uspomene
      } @else {
        Zabilježi dolazak
      }
    </button>
  </div>
</article>
