<section class="tvoja-prica">
  <div class="tvoja-prica__spremnik">
    <div class="tvoja-prica__sadrzaj">
      <h3>
        Tvoja putovanja. Tvoja postignuća. <br />
        Tvoja priča kroz Hrvatsku.
      </h3>
      <p>
        Prati svoj napredak i vizuliziraj svoja istraživanja u obliku
        korisničkog profila. Prijavi se i započni istraživanje
      </p>
      <a routerLink="/autentikacija/prijava">
        <button class="c-button c-button--primarna | tvoja-prica__gumb">
          Prijavi se
        </button>
      </a>
    </div>

    <div class="tvoja-prica__slika-spremnik">
      <img
        src="/slike/ostalo/pocetna-stranica/tvoja_prica.png"
        alt="Slika korisnikovog profila"
      />
    </div>
  </div>
</section>
