@if (lokacijaStanje.ucitavanje()) {
  <p>Učitavanje lokacije...</p>
} @else if (lokacijaStanje.greska()) {
  <p>{{ lokacijaStanje.greska() }}</p>
}

@if (lokacijaStanje.lokacija(); as lokacija) {
  @if (pocetnaVrijednostForme(); as pocetnaVrijednost) {
    <app-lokacija-forma
      nacin="uredivanje"
      [pocetnaVrijednost]="pocetnaVrijednost"
      [kategorije]="kategorije()"
      (spremi)="azurirajLokaciju($event)"
      (odustani)="odustani()"
    />
  }

  <app-uredi-slike-lokacije
    [lokacija]="lokacija"
    (slikePromijenjene)="
      lokacijaStanje.ucitajLokacijuZaUredivanje(lokacija.lokacijaId)
    "
  />
} @else {
  <p>Lokacija nije pronađena.</p>
}
