<article class="kartica-dekoracije">
  <div class="kartica-dekoracije__slika-spremnik">
    <img
      [src]="apiUrl + dekoracija().slikaDekoracija"
      [alt]="dekoracija().naziv"
      class="kartica-dekoracije__slika"
    />
  </div>

  <div class="kartica-dekoracije__sadrzaj">
    <p class="kartica-dekoracije__tip">
      {{ dekoracija().tipDekoracije.naziv }}
    </p>
    <h3>{{ dekoracija().naziv }}</h3>
    <p>
      {{ dekoracija().opis }}
    </p>

    <div class="kartica-dekoracije__podnozje">
      <div class="kartica-dekoracije__kupnja-novac">
        <app-novac-ikona velicina="18" />

        <span>
          {{ dekoracija().cijenaValuta }}
        </span>
      </div>

      @if (dekoracija().posjeduje) {
        <button type="button" class="c-button c-button--sekundarna" disabled>
          Kupnjeno
        </button>
      } @else if (!dekoracija().otkljucano) {
        <button type="button" class="c-button c-button--sekundarna" disabled>
          Zaključano
        </button>

        <!-- <p class="kartica-dekoracije__uvjet">
          {{ dekoracija().razlogZakljucavanja }}
        </p> -->
      } @else {
        <button
          type="button"
          class="c-button c-button--primarna"
          (click)="kupi.emit(dekoracija().dekoracijaId)"
        >
          Kupi
        </button>
      }
    </div>

    @if (dekoracija().potrebno) {
      <div class="kartica-dekoracije__rijeseno-izazova">
        <p class="kartica-dekoracije__napredak">
          {{ dekoracija().napredak }}/{{ dekoracija().potrebno }}
        </p>
        <span class="kartica-dekoracije__napredak-info">
          Trenutno imate {{ dekoracija().napredak }} riješenih izazova od
          potrenih {{ dekoracija().potrebno }} iz kategorije
        </span>
      </div>
    }
  </div>
</article>
