@use "../postavke" as postavke;

input,
textarea,
select {
  width: 100%;
  border: 1px solid var(--clr-obrub);
  border-radius: var(--radius-md);
  background: var(--clr-povrsina);
  color: var(--clr-text);

  &:focus {
    border-color: var(--clr-primarna);
  }
}

input {
  width: 100%;
  color: rgb(47, 20, 197);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  // box-shadow:
  //   rgb(0 0 0 / 12%) 0px 1px 3px,
  //   rgb(0 0 0 / 24%) 0px 1px 2px;
  box-shadow: var(--shadow-md);
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  &:focus {
    border: 2px solid var(--clr-primarna-400);
  }
}

label {
  color: var(--clr-text);

  font-size: var(--fs-rg);
}

textarea {
  resize: vertical;
}
