@use "../postavke" as postavke;

h1,
h2,
h3,
h4 {
  font-family: postavke.$ff-naslovi;
  line-height: postavke.$lh-naslovi;
  color: var(--clr-text);
  font-weight: postavke.$fw-bold;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

p {
  color: var(--clr-text-prigusen);
  line-height: postavke.$lh-osnovni;
}
