.registracija-forma {
  &__spremnik {
    --stog-gap: 1.5rem;

    p {
      font-size: var(--fs-sm);
    }
  }

  &__spremnik-tekst {
    --stog-gap: 0.25rem;

    h4 {
      font-size: var(--fs-xl);
      word-break: balance;
    }
  }
}
