.forma {
  --stog-gap: 1rem;
  width: 100%;

  &__ikona {
    position: absolute;
    left: 1rem;
    z-index: 2;
    color: var(--clr-text-prigusen);
    pointer-events: none;
  }

  &__kontrola--s-ikonom {
    padding-left: 3rem;
  }
}

.autentikacija__poziv-na-suprotno {
  text-align: center;
  font-size: var(--fs-sm);
  font-weight: 600;

  a {
    font-size: inherit;
    font-weight: inherit;
    color: var(--clr-primarna-800);
  }
}
