<form class="o-stog c-forma" #forma="ngForm" (ngSubmit)="posalji(forma)">
  <div class="c-forma__group">
    <label for="email" class="c-forma__label">Email</label>
    <div class="o-input-okvir | forma__kontrola-spremnik">
      <app-email-ikona class="forma__ikona" />
      <input
        type="email"
        id="email"
        name="email"
        class="c-forma__kontrola | forma__kontrola--s-ikonom"
        required
        email
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
        [(ngModel)]="model.email"
        #email="ngModel"
      />
    </div>

    @if (email.invalid && forma.submitted) {
      <p class="c-forma__pogreska">Unesite ispravam format email-a</p>
    }
  </div>
  <div class="c-forma__group">
    <label for="lozinka" class="c-forma__label">Lozinka</label>
    <div class="o-input-okvir | forma__kontrola-spremnik">
      <app-lozinka-ikona class="forma__ikona" />

      <input
        type="password"
        id="lozinka"
        name="lozinka"
        class="c-forma__kontrola | forma__kontrola--s-ikonom"
        required
        minlength="6"
        [(ngModel)]="model.lozinka"
        #lozinka="ngModel"
      />
    </div>

    @if (lozinka.invalid && forma.submitted) {
      <p class="c-forma__pogreska">Lozinka mora imati barem 6 znakova</p>
    }

    @if (porukaPogreske) {
      <p class="c-forma__pogreska">{{ porukaPogreske }}</p>
    }
  </div>

  <button class="c-button c-button--primarna" type="submit">Prijavi se</button>
  <p class="autentikacija__poziv-na-suprotno">
    Još nemaš račun?
    <a routerLink="/autentikacija/registracija">Registriraj se</a>
  </p>
</form>
