<section class="posjet-nagrade">
  <div
    class="o-klaster o-klaster--between | posjet-nagrade__sekcija posjet-nagrade-sekcija__zabiljezi-dolazak"
  >
    <div class="o-stog | posjet-nagrade__sadrzaj">
      <span class="posjet-nagade__broj-sekcije"> 01 </span>
      <h2>Posjeti i zabilježi</h2>
      <p>
        Posjeti lokaciju i zabilježi svoj dolazak. Naša interaktivna karta
        omogućuej ti jednostavan pronalazak novih lokacija
      </p>

      <a routerLink="/lokacije">
        <button class="c-button c-button--primarna">Pogledaj lokacije</button>
      </a>
    </div>

    <div class="posjet-nagrade__slika-spremnik">
      <img
        src="/slike/ostalo/pocetna-stranica/zabiljezi-dolazak-selfe.png"
        alt="Slika korisnik kako uzima selfi izsred dvorca trakošćan"
      />
    </div>

    <img
      src="/slike/ostalo/pocetna-stranica/strelica-sljedeca-sekcija.png"
      alt=""
      class="posjet-nagrade__strelica-sljedeca-sekcija"
    />
  </div>
  <div
    class="o-klaster o-klaster--between | posjet-nagrade__sekcija posjet-nagrade-sekcija__podijeli-iskustvo"
  >
    <div class="posjet-nagrade__slika-spremnik">
      <img
        src="/slike/ostalo/pocetna-stranica/podijeli-iskustvo.png"
        alt="Slika komentara korisnika"
      />
    </div>

    <div class="o-stog | posjet-nagrade__sadrzaj">
      <span class="posjet-nagade__broj-sekcije"> 02 </span>
      <h2>Podijeli iskustvo</h2>
      <p>
        Podijeli iskustvo s drugim putnicima. Napiši recenziju, ocijeni lokaciju
        i inspiriraj druge za nijhovu sljedeću avanturu
      </p>
    </div>

    <img
      src="/slike/ostalo/pocetna-stranica/strelica-sljedeca-sekcija.png"
      alt=""
      class="posjet-nagrade__strelica-sljedeca-sekcija posjet-nagrade__strelica-sljedeca-sekcija--inverz"
    />
  </div>
  <div
    class="o-klaster o-klaster--between | posjet-nagrade__sekcija posjet-nagrade-sekcija__osvoji-nagrade"
  >
    <div class="o-stog | posjet-nagrade__sadrzaj">
      <span class="posjet-nagade__broj-sekcije"> 03 </span>
      <h2>Osvajaj nagrade</h2>
      <p>
        Istražuj, rješavaj izazove i osvajaj nagrade. Sakupljaj jedinstvene
        bedževe za svaku regiju koju posjetiš i gradi svoj istraživački status.
      </p>
    </div>

    <div class="posjet-nagrade__slika-spremnik">
      <img
        src="/slike/ostalo/pocetna-stranica/osvoji-nagrade.png"
        alt="Slika dekoracija koje korisnik može osvojiti"
      />
    </div>
  </div>
</section>
