:host {
  display: block;
}

.lokacija-hero {
  position: relative;
  min-height: min(65vh, 35rem);
  overflow: hidden;
  border-radius: var(--radius-lg);
  isolation: isolate;
  box-shadow: var(--shadow-md);

  &:hover &__slika {
    transform: scale(1.02);
  }

  &__slika-gumb {
    position: absolute;
    inset: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
  }

  &__slika {
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform 250ms ease-out;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      hsl(from var(--clr-primarna-800) h s l / 0.1) 0%,
      hsl(from var(--clr-primarna-800) h s l / 0.5) 45%,
      hsl(from var(--clr-primarna-800) h s l / 0.9) 100%
    );
  }

  &__sadrzaj-spremnik {
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    color: var(--clr-primarna-200);

    h1 {
      margin: 0.5rem 0;
      font-size: var(--fs-3xl);
      line-height: 0.95;
      color: white;
    }
  }

  &__ocjena {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: white;

    app-ocjena-zvijezdice {
      margin-top: 5px;
    }
  }

  &__prosjecna-ocjena {
    font-size: var(--fs-rg);
    font-weight: bold;
    color: white;
  }

  &__broj-glasova {
    font-size: var(--fs-sm);
    font-weight: thin;
    color: white;
  }
}
